* {
      margin: 0;
      padding: 0;
}
body {
      background: linear-gradient(135deg, #635BFF 0%, #00E5E5 100%);
      background-repeat: no-repeat;
      background-size: cover;
}



input {
      padding: 20px;
      margin: 18px;
      color: black;
      background: whitesmoke;
      border: .99px solid black;
      align-items: center;
      border-radius: 33px;
      font-size: 15px;
}
input::placeholder {
      color: black
}

.A {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(135deg, #635BFF 0%, #00E5E5 100%);;
      margin: 20px;
      height: 64%;
      border-radius: 40px;
      border: .99px solid black;
      box-shadow: 10px 10px 20px black;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.9);
}



button {
      background-color: black;
      color: white;
      padding: 14px;
      border: .99px solid gray;
      border-radius: 25px;
      margin: 20px;
      font-weight: bold

}
h2 {
      background:#3574FF;
      color: white;
      font-size: 35px;
      padding: 12px;
      font-weight: bolder;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);

}
.solve {
      background: linear-gradient(135deg, #635BFF 0%, #00E5E5 100%);;
      color: black;
      font-weight: bolder;
      font-size: 30px;
      padding: 40px;
      margin: 30px;
      border: 0.99px solid black;
      border-radius: 28px;
      align-items: center;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}


button:hover {
background: white;
color: black;
}
